*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
ul{
    display: flex; /*Para colocar los elementos de forma horizontal. Funciona cuando  hay más de 2 elementos*/
    justify-content: space-around; /*Funciona cuando existe un flex*/
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}
li{
    list-style: none; /*Elimina viñetas*/

}
a{
    text-decoration: none;/*Quita subrayados*/
    color: white;
}



